<h2 style="text-align:center"> Forgot Password </h2>
<br>
<div class="row">
	<div class="col-md-5"> </div>
	<div class="col-md-3">		
		<form>
			Email:	
			<br>
			<input type="text" name="Email" style="border-radius:5px;">
			<br>
			<br>
			<input type="submit" value="Retrieve" style="color:black;border-radius:5px;">
			<br>
			<br>
			Password will be sent to your email shortly

		</form>
	</div>	

</div>