<!-- Home1
Juston Martinez
12-24-2014

Trying to create a more structured version of my website
redoing some of the names, adding click-event handlers to consolidate pages

Ideally, I'd like the homepage all to be on one page.
as of 12-24, homepage tabs are on 2 different files.

I want to apply the same approach to the results page (currently split as well)

 -->

<ul class = "nav nav-tabs nav-justified">
  <li class = "active">  <a style="color:black;"> Browse </a>
  	
  	<form>
  		<br>
		Date Range:	<input type="text" name="from"> to <input type="text" name="to">
		<br>
		<br>
		Radius:	<input type="text" name="radius"> mi.
		<br>
		<br>
		<input type="submit" value="Search!" style="color:black;">
		<a href = "/browselist" style="color:yellow;">BROWSELIST</a>
	</form>

  </li>



  <li> <a href = "/sloppypost" style="color:white;">Post</a></li>
</ul>

