<ul class = "nav nav-tabs nav-justified">
  <li  >  <a href="/browselist" style="color:white;font-size:20px;"> List </a>
  		<br>
  		--Insert Map Here--
	</li>
	
	<li class = "active" style="font-size:20px;"> <a style="color:black;">Map</a>

	</li>
</ul>


