

<h2 style="text-align:center"> Create An Account </h2>
<br>
<div class="row">
	<div class="col-md-5"> </div>
	<div class="col-md-3">		
		<form>
			Email:	
			<br>
			<input type="text" name="Email" style="border-radius:5px;">
			<br>
			<br>
			Username:	
			<br>
			<input type="text" name="radius" style="border-radius:5px;">
			<br>
			<br>
			Password:	
			<br>
			<input type="text" name="password" style="border-radius:5px;">
			<br>
			<br>
			<input type="submit" value="Create" style="color:black;border-radius:5px;">
		</form>
	</div>	

</div>