
<ul class = "nav nav-tabs nav-justified">
  <li>  <a href = "/" style="color:white;"> Browse </a> </li>
  <li class = "active"> <a>Post</a>
  	
	<form>
		<br>
		By:	<input type="text" name="by">
		<br>
		<br>
		Title:	<input type="text" name="title">
		<br>
		<br>
		Message: <textarea id="txtArea" rows="4" cols="50"></textarea>
		<br>
  		Obscure Location? 
		<input type="radio" name="obscure" value="yes" checked>Yes
		<input type="radio" name="obscure" value="no">No
		<br>
		<input type="submit" value="Post!" style="color:black;">
	</form>

  </li>
</ul>

