
<ul class = "nav nav-tabs nav-justified">
  <li class = "active">  <a style="color:black;"> Browse </a>
  	
  	<form>
  		<br>
		Date Range:	<input type="text" name="from"> to <input type="text" name="to">
		<br>
		<br>
		Radius:	<input type="text" name="radius"> mi.
		<br>
		<br>
		<input type="submit" value="Search!" style="color:black;">
		<a href = "/browselist" style="color:yellow;">BROWSELIST</a>
	</form>




  </li>
  <li> <a href = "/sloppypost" style="color:white;">Post</a></li>
</ul>

